@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* https://fonts.google.com/specimen/Poppins?query=poppin&preview.text_type=custom&sidebar.open=true&selection.family=Poppins:ital,wght@0,400;0,700;1,400;1,700 */

:root {
    --theme-color: #1ed0bb;
}

body,
html {
    background-color: #222222;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
}

iframe {
    height: 1000px;
    overflow-y: visible;
    width: 100%;
}

a {
    color: var(--theme-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ddd;
}

p,
li {
    color: #ccc;
}

p {
    line-height: 1.75rem;
}
