#content {
    max-width: 60rem;
    width: 80%;
}

#content-wrapper {
    padding-top: 0;
}

svg#title-explorer {
}

svg#title-explorer circle {
    /* fill: white; */
    fill: none;
}

svg#title-explorer line {
    stroke-width: 3px;
    stroke: rgb(194, 194, 194);
    fill: rgb(194, 194, 194);
    /* stroke-width: 5px; */
}

svg#title-explorer .link-by-tag {
    stroke-width: 1px !important;
    stroke: rgb(105, 105, 105) !important;
}

svg#title-explorer text {
    cursor: pointer;
    fill: white;
    stroke: white;
    text-anchor: middle;
}
