#nav-bar {
    color: #fff;
    font-size: 1.5rem;
    height: 3rem;
}

#nav-bar a {
    color: #fff;
    float: left;
    padding: 1rem;
    padding-top: 0;
}

#nav-bar div {
    float: right;
    padding: 1rem;
    padding-top: 0;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    width: 100%;
}

#content {
    max-width: 35rem;
    width: 80%;
}

input#search-input {
    box-sizing: border-box;
    background-color: #eee;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    height: 2.5rem;
    outline: none;
    padding: 0.5rem;
    width: 100%;
}

.result {
    display: flex;
    padding-bottom: 1rem;
}

.note-title {
    color: #ddd;
    flex: 2;
}

.note-title a {
    color: #ddd;
}

.note-date {
    color: #bbb;
    flex: 1;
    text-align: right;
}

#content-wrapper a {
    position: relative;
}

#links-to-here {
    margin-top: 10rem;
}

.preview-frame {
    /* box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.24); */
    left: 0;
    position: absolute;
    top: 3rem;
    /* top: 0rem; */
    width: 30rem;
    z-index: 30;
}

.preview-frame iframe {
    border: none;
    max-height: 20rem;
    width: 30rem;
}

.preview-frame-pos-up {
    top: auto;
    bottom: 3rem !important;
}

/* iframe styles */

.in-iframe body,
.in-iframe {
    background-color: #333;
    overflow: hidden;
    pointer-events: none;
}

.in-iframe body {
    margin: 0;
    padding: 0;
}

.in-iframe #nav-bar {
    display: none;
}

.in-iframe #content-wrapper {
    padding: 0;
}
